@import'./node_modules/reset-css/sass/reset';
@import'./fonts.scss';
$main-font-family: 'Open Sans';

@for $index from 1 through 5 {
    .size-#{$index}{
        width: 50px*$index !important;
        height: 50px*$index !important;
    }
}
@mixin border-radius($radius){
    border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
}

.block-wrapper {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    .block {
        width: 200px;
        height: 200px;
    }
    &.biggest {
        .block{
            width: 250px;
            height: 250px;
        }
    }
}

.block {
    background-color: #fff;
    display: block;
    height: 200px;
    width: 200px;
    margin: 30px;
    border: 1px solid #cecece;
    @extend .size-1;
    @include border-radius(20px);
}

.base-font-property {
    font-family: $main-font-family;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
}

